scikit-image
imageio
ipykernel
ipython
ipywidgets
Jinja2
nbconvert
networkx
numpy==1.15.4
pandas
Pillow==8.3.2
pydot==1.4.1
pyOpenSSL==18.0.0
scikit-learn
scipy
six
sklearn-pandas
tqdm
opencv-python
opencv-contrib-python
conx
pyod
